// Import de todo el css de bootstrap
@import "~bootstrap/scss/bootstrap";

#background-kebab {
    background-image: url(/src/img/kebab.jpg);
    background-size: 100%;
}

footer {
    height: 20vh;
}