// Import de todo el css de bootstrap
@import "~bootstrap/scss/bootstrap";

#background-kebab {
    background-image: url(/src/img/kebab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    height: 30vh;
}

#imagen-jumbotron {
    max-width: 500px;
}